<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<%= render 'layouts/error_messages', model: @book  %>
<div id="field">
  <label>Title</label>
  <%= f.text_field :title %>
</div>
<div id="field">
  <label>body</label>
  <%= f.text_area :body %>
</div>
<div id="action">
  <%= f.submit "Update Book" %>
<% end%>
</div>
<td><%= link_to "Show", book_path %></td>
|
<td><%= link_to "Back", books_path %></td>